@media screen and (min-width: 768px) {

    h1 {
        font-size: 60px;
    }

    p {
        font-size: 30px;
    }
}

@media screen and (min-width: 992px) {

    h1 {
        font-size: 80px;
    }

}