main {
    @include flexCenter();
    background-image: url(https://c4.wallpaperflare.com/wallpaper/857/323/806/bosque-catarata-naturaleza-rio-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

section {
    @include flexCenter();
    gap: 25px;
}